body{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  font-weight: 100;
  font-style: normal;
    background:black;
}

.post{
    background:white;
    width:400px;
    height: 600px;
    margin: auto;
}

.post-img img{
    width: 100%;
    height:300px;
}

.post-icons{
    display: flex;
    padding: 10px;
}

.post-icons i{
    font-size: 25px;
    padding: 5px;
}

.prueba{
    margin-left: auto;
}

.post-header{
    display: flex;
    padding: 10px;
}

.derecha{
    margin-left: auto;
}


.post-header i{
    padding: 10px;
    font-size: 25px;
}

.palabras{
    display: flex;
    flex-direction: column;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}